@each $f, $s in $fonts{
	.font-#{$f}{
		font-weight: $s;
	}
}
*{
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
}
.header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80px;
    background: linear-gradient(90deg, rgba(207,203,208,1) 0%, rgba(147,145,148,1) 63%, rgba(98,98,99,1) 100%);
}
.logo-header{
    grid-column: 6/8;
    grid-row: 2/4;
    justify-self: center;
    align-self: center;
    &-img{
        align-self: center;
        width: 140px;
        height: auto;
        @media screen and (min-width:768px){
            width: 180px;
        }
        @media screen and (min-width:992px){
            width: 200px;
        }
    }
}
.header-bottom{
    display: inline;
    grid-row: 4;
    grid-column: 1/13;
    align-self: center;
    background-color: #D30F0F;
    width: 100%;
    height: auto;
    .header-label{
        text-align: center;
        color: azure;
        @include sizeS;
    }
}
.body{
    display: inline-flex;
    flex-wrap: wrap;
    min-height: 80vh;
    width: 100%;
    background-color: #000;
}
.banner-principal{
    width: 100%;
    height: auto;
    justify-self: center;
    padding-top: 20px;
    padding-bottom: 60px;
    .index-2{
        width: 100%;
        display:grid;
        .banner-title{
            @include sizeBg;
            color: #D30F0F;
            text-align: center;
            margin-bottom: 1em;
        }
        nav{
            @extend %navBar;
            width: 100%;
            ul{
                width: 80%;
                justify-content: space-around;
                box-sizing: border-box;
                @media screen and (min-width:768px){
                    width: 100%;
                }
                li{
                    width: 33.333%;
                    border-top: 2px solid transparent;
                    text-align: center;
                    @media screen and (min-width:768px){
                        width: 20%
                    }
                        border-bottom: 2px solid transparent;
                        :hover{
                            border-bottom: 2px solid #D30F0F;
                        }
                    a{
                        @include sizeM;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.youtube-vid{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #242424;
    @media screen and (min-width:768px){
        padding: 30px;
    }
    @media screen and (min-width:992px){
        font-size: 40px;
    }
    p{
        padding: 2em;
        display: inline;
        color: #ffffff;
        text-align: center;
        @include sizeM;
    }
    .video{
        border: 2px solid #000000;
        border-radius: 12px;
        width: 100%;
        height: 55vw;
        align-self: center;
    }
}
footer{
    width: 100%;
    height: 100px;
    background: linear-gradient(270deg, rgba(207,203,208,1) 0%, rgba(147,145,148,1) 63%, rgba(98,98,99,1) 100%);
}
.bikes-nav{
    width: 100%;
    @extend %navBar;
    ul{
        width: 100%;
        max-height: 2em;
        justify-content: space-between;
        li{
            max-height: 2em;
            width: 20%;
            border-top: 2px solid transparent;
            text-align: center;
            border-bottom: 2px solid transparent;
            :hover{
                border-bottom: 2px solid #D30F0F;
            }
            a{
                @include sizeS;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.bike-container{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .bike-title{
        @include sizeBg;
        width: 100%;
        color: #D30F0F;
        text-align: center;
        margin: .6em 0;
    }
    .bannerbike{
        width: 100%;
    }
    .bike-data{
        width: 80%;
        align-self: center;
        display: grid;
        justify-content: space-between;
        grid-template-areas:
	    "bikename"
	    "review"
        "product"
	    ;
        @media screen and (min-width:992px){
            grid-template-areas:
	        "bikename bikename  product product"
	        "review review  product product"
	    ;
        }
        .namebike{
            grid-area: bikename;
            align-self: center;
            text-align: center;
            color: #D30F0F;
            @include sizeM;
            @media screen and (min-width:992px){
                text-align: start;
            }
        }
        .reviewbike{
            grid-area: review;
            text-align: justify;
            @include sizeS;
            @media screen and (min-width:992px){
                padding-right: 40px;
            }
        }
        .productbike{
            grid-area: product;
            margin-right: 40px;
            align-self: center;
        }
    }
}
